:root {
    --olive: #54694d;
    --olive_dark: #4c504b;
    --white: #ffffff;
  }


::-webkit-scrollbar {
    width: 0px;
    }

blockquote .olive{
        color: var(--olive_dark);
}
/* ==============================
   Loader
   ============================== */

    .page-loader {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000000;
        z-index: 100000;
    }
    
    .loader {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        font-size: 10px;
        text-indent: -12345px;
        border-top: 2px solid rgba(116, 124, 113, 1);
        border-right: 2px solid rgba(116, 124, 113, 0.8);
        border-bottom: 2px solid rgba(116, 124, 113, 0.4);
        border-left: 1px solid rgba(116, 124, 113, 0.2);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: spinner 700ms infinite linear;
        -moz-animation: spinner 700ms infinite linear;
        -ms-animation: spinner 700ms infinite linear;
        -o-animation: spinner 700ms infinite linear;
        animation: spinner 700ms infinite linear;
        will-change: transform;
        z-index: 100001;
    }
    
/* ==============================
   Text and indents
   ============================== */
    .center_text {
    text-align: center;
    }
    .justify {
    text-align: justify;
    text-justify: inter-word;
    }
    .rcorner10
    {
        border-radius: 10px;
    }

    .ind_14
    {
        text-indent: 0.35em;
    }

    .ind-7
    {
        text-indent: 2px;
    }

    .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    }


    .progress-container {
    width: 100%;
    height: 0px;
    background: #000;
    opacity:0.8;
    
    }
    a.link-to-top-white{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: rgba(255,255,255, .2);
        font-size: 48px;
    }
    a.link-to-top-white:hover{
        color: rgba(255,255,255, .8);
    }
    
    .footer-social-links-black a{
        width: 25px;
        height: 25px;
        line-height: 25px !important;
        position: relative;
        margin: 0 6px;
        text-align: center;
        display: inline-block;
        color: #111;
        
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .footer-social-links-black a i,
    .footer-social-links-black a span[class^=icon]{
        position: relative;
        top: 0;
        left: 0; 
    }
    .footer-social-links-black a:before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ffffff9f;
        
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        
    }
    .footer-social-links-black a:hover{
        color: #ffffff4b;
    }
    .footer-social-links-black a:hover:before{
        background: #ffffff4b;
    }
/* ==============================
Cursor
============================== */
body {
    margin: 0;
    --color-link: #000;
    --color-link-hover: #040203;
    --color-content: #040203;
    --font-alt: freight-display-pro, serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: soleil, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --cursor-stroke: var(--olive);
    --cursor-fill: none;
    --cursor-stroke-width: 1px;
}

.progress-bar {
height: 3px;
background: var(--olive);
width: 0%;
}
   *,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}



a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: inherit;
}

.frame__links {
	display: block;
}

.frame__links > *:not(:last-child),
.frame__demos > *:not(:last-child) {
    margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demos span {
	font-weight: bold;
	color: var(--color-link);
}

.frame__initials {
	font-family: var(--font-alt);
	font-size: 1.5rem;
	pointer-events: none;
	line-height: 18px;
}

.content {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content p {
	max-width: 80vw;
	font-size: 4vw;
	text-transform: uppercase;
	color: var(--color-content);
	font-family: var(--font-alt);
	font-weight: 300;
	line-height: 1.4;
}

.content p a {
	font-weight: 600;
	font-style: italic;
	position: relative;
}

.content p a::after { 
	content: ''; 
	position: absolute; 
	width: 100%; 
	height: 1px; 
	background: currentColor; 
	bottom: 0.5vw; 
	left: 0; 
	opacity: 0; 
	transform-origin: 0% 50%; 
	transform: scaleX(0); 
	transition: all 0.25s ease-out; 
} 
 
.content p a:hover::after, 
.content p a:focus::after { 
	opacity: 1; 
	transform: scaleX(1); 
}
.menu {
	display: flex;
	overflow: hidden;
	position: relative;
	width: 100vw;
	justify-content: center;
}
.menu__item {
	font-size: 6.5vw;
	margin: 0 2vw;
	cursor: default;
	font-family: var(--font-alt);
	color: var(--color-menu-link);
	cursor: pointer;
}
.menu__item:hover,
.menu__item:focus {
	color: var(--color-menu-link-hover);
}
.cursor {
	display: none;
}
@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2.5rem 3rem;
		pointer-events: none;
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title initials links'
							'... ... ...'
							'... demos ...';
	}
	.frame__title {
		grid-area: title;
		margin: 0;
	}
	.frame__initials {
		grid-area: initials;
		margin: 0;
		justify-self: center;
	    align-self: center;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame__info {
		grid-area: info;
		margin: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}
